.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-sidebar {
  width: 350px;
  float: left;
  background-color: red;
  padding: 5px;
  box-sizing: border-box;
}

.App-mainbody {
  width: calc(100% - 350px);
  float: right;
  background-color: green;
  padding: 5px;
  box-sizing: border-box;
}
